# Dependencies
/node_modules

# Build output
/build

# Local environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode
.idea
